<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kcb">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SNNU课程表"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="新建课程"
            android:name=".AddCourseActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:name=".Score"
            android:label="查看成绩"
            />

        <activity
            android:name=".AboutActivity"
            android:label="关于我们"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:name=".Login"
            android:label="自动导入"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <activity
            android:label="课程详细信息"
            android:name=".MessageCourseActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <activity
            android:name=".SingleWeek"
            android:label="单周课程"
            />
        <activity
            android:name=".DoubleWeek"
            android:label="双周课程"
            />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.write.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>